<div class="container">

<h2 class="bg-success p-3 text-center mt-4 font-weight-bold">Log in</h2>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row border border-success">
  <div class="col-md-12 p-3">
  <div class="field m-3">
    <span class="font-weight-bold"><%= f.label :email %></span><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field m-3">
    <span class="font-weight-bold"><%= f.label :password %></span><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field m-3">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions m-3">
    <%= f.submit "Log in", :class => 'btn btn-success btn-sm font-weight-bold' %>
    <button class='btn border border-success btn-sm font-weight-bold'><%= render "users/shared/links" %></button>
  </div>
<% end %>



</div>
</div>
</div>
