<div class="container mt-3 border border-info">
    <% @cart_items.each do |item| %>
        <div class="row">
            <div class="col-md-3">
                <div><%= item.product.title %></div>
                <div>$<%= item.product.price %></div>
            </div>
        </div>
        <%= form_for item, remote: true do |f| %>

            <%= f.hidden_field :product_id, :value => item.product.id %>
            <%= f.number_field :quantity, :value => item.quantity.to_i %>
            <%= f.submit "Update Cart" ,class: 'btn btn-success btn-sm '%>

            <%= link_to "Remove Item", cart_item_path(item),class: 'btn btn-danger btn-sm ',
            method: :delete, data: { confirm: 'Are you sure you want to delete this item from cart?' },
            remote: true %>

        <% end %>
            <div>Subtotal: $<%= item.total %></div>
    <% end %>
</div>

<div class="text-center bg-warning m-3 p-1">Your current cart value has a Subtotal of 
<%= current_cart.subtotal %></div>