<div class="text-center">
<h1>Search Results</h1
<a><%= link_to 'Back To Home', products_path, class:'btn btn-warning' %></a>
</div>


<% if @search.find_products.empty? %>
    <p>No Records Found</p>

<% else %>
    <% @search.find_products.each do |c| %>
        <br>
        <div class="container">
        <div class="row border border-info">
        <div class="col-md-3">
            <div>Title: <%= c.title %></div>
            <div>Description: <%= c.description %></div>
            <div>Price: $<%= c.price %></div>
            <div>Category: <%= c.category.name %></div>
            <div>Brand: <%= c.brand.name %></div>
            </div>
        </div>
        </div>
    <% end %>
<% end %>




