<p id="notice"><%= notice %></p>


<% if can? :manage ,@product%>
<%= link_to 'New Product', new_product_path %>
<% end %>

<div class='container-fluid'>
<% @products.in_groups_of(4, false).each do |group| %>
  <div class='row border border-info'>
    <% group.each do |product| %>
      <div class='col-md-3'>
      <div class='card p-2'>
       <div class="card-body p-2">
        <h3><%= product.title %></h3><br />
        <div>Description: <%= sanitize(product.description) %></div><br />
        <div>Brand: <%= sanitize(product.brand.name) %></div><br />
        <div>Category: <%= sanitize(product.category.name) %></div><br />
        <div>Price: <%= number_to_currency(product.price) %></div><br />
        <div><%= link_to 'Show Details', product_path(product),  class: 'btn btn-info btn-sm float-right'%></div>
        <% if can? :manage ,product%>
        <div><%= link_to 'Edit', edit_product_path(product) %></div>
        <div><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></div>
        <% end %>
        
        <%= form_for @cart_item, remote: true  do |f|%>
          <%= f.hidden_field :product_id, :value => product.id %>
          <%= f.number_field :quantity, style: "width:50px !important;" , :value => 1, :min =>  1%>
          <%= f.submit "Add to Cart ", class: 'btn btn-success btn-sm'%>
          <% end %>
          
      </div>
      </div>
      </div>
    <% end %>
  </div>
<% end %>
</div>

<br>


