<div class='container-fluid'>
  <div class='row border border-info m-3'>
    <div class='col-md-3'>    
      <p id="notice"><%= notice %></p>

      <div>
        <h3 class="font-weight-bold"><%= @product.title %></h3> 

        <div style="width:400px; height:aute">
          <%= link_to image_tag(@product.image, style:"width:100%"), products_path %>
      </div>

        <h4 class="font-weight-bold m-3">Price: $<%= @product.price %></h4> 
        <h4 class="font-weight-bold m-3">Description: <%= @product.description %></h4>
        <h4 class="font-weight-bold m-3">Brand: <%= @product.brand.name %></h4>
        <h4 class="font-weight-bold m-3">Category: <%= @product.category.name %></h4>  
    </div>
    <%if can? :manage, @product%>
    <%= link_to 'Edit', edit_product_path(@product) %> |
    <%end%> 
    <%= link_to 'Back To Home', products_path, class:'btn btn-warning font-weight-bold m-3' %>
  </div>
</div>



